{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Мы - команда энтузиастов и профессионалов в области информационных технологий. Наш сайт создан для всех, кто интересуется миром IT - от начинающих пользователей и студентов до опытных специалистов и разработчиков.

            Наши цели просты: делиться знаниями, вдохновлять и помогать нашим читателям освоить новые технологии, улучшить навыки программирования и развиваться профессионально.</p>
        <a href="{% url 'about2' %}" class="btn btn-danger">Узнать больше</a>
    </div>
{% endblock %}